* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  a:hover {
    text-decoration: none;
  }

  header {
    background-color: #282828;
    height: 10vh;
  }
  
  nav {
    height: inherit;
  }

  .main {
    display: flex;
    height: 90vh;
  }
  .main-left {
    background: linear-gradient(90deg, rgba(168,26,26,0.9) 0%, rgba(168,26,26,0.9) 100%), url(../images/arnold-francisca-f77Bh3inUpE-unsplash.jpg);
    width: 70%;
    background-position: center;
    background-size: cover;
  }
  .main-right {
    background: url(../images/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
  }

  .main a, .card{
    transition: all .3s ease-in;
  }

  .main a:hover{
    transform: translateY(10px) scale(1.1);
  }

  .card:hover{
    transform: scale(1.1);
  }

  .section1 h1 {
    color: #a81a1a;
  }
  .section1 p {
    line-height: 2em;
    margin-left: 2%;
  }
  .div1 {
    width: 70%;
  }
  .div2 {
    width: 30%;
    background-color: #a81a1a;
  }
  .section2 {
    background-color: #a81a1a;
    padding: 50px 0 100px;
  }
  .section2 img {
    height: 300px;
  }
  .centering {
    width: 95%;
    margin: auto;
  }
  .card p {
    color: #282828;
  }
  footer {
    background-color: #282828;
    color: white;
  }
  footer i {
    color: #282828;
  }
  .footer-logos div {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    transition: all .3s linear;
  }
  .footer-logos div:hover {
    transform: scale(1.5)
  }
  .footer-bottom {
    border-top: 1px solid white;
  }