* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', sans-serif;
  }

  header {
    background-color: #282828;
    height: 10vh;
  }
  
  nav {
    height: inherit;
  }

  .main {
    display: flex;
    height: 90vh;
  }
  .main-left {
    background-color: #c90c28;
    width: 70%;
  }
  .main-right {
    background: url(../images/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30%;
  }
  .section1 h1 {
    color: #c90c28;
  }
  .section1 p {
    line-height: 2em;
    width:90%;
  }
  .section2 {
    background-color: #c90c28;
    padding: 50px 0 100px;
  }
  .section2 img {
    height: 300px;
  }
  .centering {
    width: 95%;
    margin: auto;
  }
  .card p {
    color: #282828;
  }
  footer {
    background-color: #282828;
    color: white;
  }
  footer i {
    color: #282828;
  }
  .footer-logos div {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
  }
  .footer-bottom {
    border-top: 1px solid white;
  }